################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Aplikacja/.vs/BlockchainApp/v15/Server/sqlite3
/Aplikacja/.vs/BlockchainApp/v15
/.vs
